  <!-- Contact form Start -->
  <div class="contact-form bg-height pb-top" data-background="assets/img/gallery/section_bg05.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="form-wrapper">
                <!--Section Tittle  -->
                    <div class="row ">
                        <div class="col-xl-12">
                            <div class="section-tittle section-tittle2 mb-70">
                                <span>Fill up to get a qote</span>
                                <h2>World's Leading Law Consultency Agency !</h2>
                            </div>
                        </div>
                    </div>
                    <!--End Section Tittle  -->
                    <form id="contact-form" action="#" method="POST">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-box user-icon mb-30">
                                <input type="text" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-box email-icon mb-30">
                                <input type="text" name="email" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="select-itms">
                                <select name="select" id="select2">
                                    <option value="">Health Law</option>
                                    <option value="">saiful islam</option>
                                    <option value="">Arafath Miya</option>
                                    <option value="">Shakil Miya</option>
                                    <option value="">Tamim Sharker</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-box subject-icon mb-30">
                                <input type="Email" name="subject" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-box message-icon mb-30">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                            </div>
                        <div class="submit-info">
                                <button class="submit-btn2" type="submit">Submit Now</button>
                        </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
